{% extends "base.html" %}

{% block title %}
    Blog Index
{% endblock title %}

{% block jumbotron %}
<div id="intro"
class="text-center bg-image shadow-3-strong"
style="background-image: url('/static/images/blog_jumbotron.jpg');">
 <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-white">
          <h1 class="mb-3 h2">My Blog Articles</h1>
          <p class="mb-3">Here you can read my posts ordered by date or choose by a certain topic below</p>
          <div class="dropdown dropend">
            <a
              class="btn btn-outline-light dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              Topics
            </a>
          
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="height: 298px; overflow-y:scroll">
              {% if tags %}
                  {% for tag in tags %}
                  <li><a class="dropdown-item" href="{{ url_for('blog.articles_by_tag', tag_id=tag.id) }}">{{ tag.name }}</a></li>
                  {% endfor %}
              {% else %}
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock jumbotron %}

{% block content %}
<main class="my-5">
    <div class="container">

        {% if first_article %}
        <!--Section: News of the day-->
        <section class="border-bottom pb-4 mb-5">
          <div class="row gx-5">
            <div class="col-md-6 mb-4">
              <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <img src="{{ url_for('static', filename='images/article_images/'+first_article.article_image) }}" class="img-fluid" />
                <a href="{{ url_for('blog.full_article', article_id=first_article.id) }}">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
            </div>
    
            <div class="col-md-6 mb-4">
              <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">Most Recent Post</span>
              <h4><strong>{{ first_article.article_title | safe }}</strong></h4>
              <p class="text-muted">
                {{ first_article.article_description | safe }}
              </p>
              
              <!-- Article data -->
              <div class="row mb-3 align-items-center">
                <div class="col-6 d-flex">
                  {% for tag in first_article.tags %}
                    <a href="{{ url_for('blog.articles_by_tag', tag_id=tag.id) }}" class="pe-2">{{ tag.name }}</a>
                  {% endfor %}
                </div>
                <div class="col-6 text-end pe-5">
                  <u>{{ first_article.date_created.strftime("%Y-%m-%d") }}</u>
                </div>
              </div>
              <a href="{{ url_for('blog.full_article', article_id=first_article.id) }}">
                <button type="button" class="btn btn-primary">Read more</button>
              </a>
            </div>
          </div>
        </section>
        <!--Section: News of the day-->
        {% endif %}
    
    
    
        {% if articles %}
            <!--Section: Content-->
            <section class="text-center">
                <h4 class="mb-5"><strong>Latest posts</strong></h4>
                  {% for row in articles.items | batch(3, '&nbsp;') %}
                      
                      <div class="row d-flex justify-content-center">
                              {% if row[0] != '&nbsp;' %}
                              <div class="col-lg-4 col-md-12 mb-4">
                                  <div class="card h-100">
                                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                      <img src="{{ url_for('static', filename='images/article_images/'+row[0].article_image) }}" class="img-fluid" />
                                      <a href="{{ url_for('blog.full_article', article_id=row[0].id) }}">
                                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                      </a>
                                  </div>
                                  
                                  <!-- Article data -->
                                  <div class="row my-1 align-items-center">
                                    <div class="col-6 d-flex">
                                      {% for tag in row[0].tags %}
                                        <a href="{{ url_for('blog.articles_by_tag', tag_id=tag.id) }}" class="pe-2">{{ tag.name }}</a>
                                      {% endfor %}
                                    </div>
                                    <div class="col-6 text-end">
                                      <u>{{ row[0].date_created.strftime("%Y-%m-%d") }}</u>
                                    </div>
                                  </div>
                                  <div class="card-body">
                                      <h5 class="card-title">{{ row[0].article_title }}</h5>
                                      <p class="card-text">
                                          {{ row[0].article_description | safe }}
                                      </p>
                                      <a href="{{ url_for('blog.full_article', article_id=row[0].id) }}" class="btn btn-primary">Read</a>
                                  </div>
                                  </div>
                              </div>
                              {% endif %}
    
                              {% if row[1] != '&nbsp;' %}
                              <div class="col-lg-4 col-md-6 mb-4">
                                  <div class="card h-100">
                                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                      <img src="{{ url_for('static', filename='images/article_images/'+row[1].article_image) }}" class="img-fluid" />
                                      <a href="{{ url_for('blog.full_article', article_id=row[1].id) }}">
                                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                      </a>
                                  </div>
                                  
                                  <!-- Article data -->
                                  <div class="row my-1 align-items-center">
                                    <div class="col-6 d-flex">
                                      {% for tag in row[1].tags %}
                                        <a href="{{ url_for('blog.articles_by_tag', tag_id=tag.id) }}" class="pe-2">{{ tag.name }}</a>
                                      {% endfor %}
                                    </div>
                                    <div class="col-6 text-end">
                                      <u>{{ row[1].date_created.strftime("%Y-%m-%d") }}</u>
                                    </div>
                                  </div>
                                  <div class="card-body">
                                      <h5 class="card-title">{{ row[1].article_title }}</h5>
                                      <p class="card-text">
                                          {{ row[1].article_description | safe }}
                                      </p>
                                      <a href="{{ url_for('blog.full_article', article_id=row[1].id) }}" class="btn btn-primary">Read</a>
                                  </div>
                                  </div>
                              </div>
                              {% endif %}
    
                              {% if row[2] != '&nbsp;' %}
                              <div class="col-lg-4 col-md-6 mb-4">
                                  <div class="card h-100">
                                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                      <img src="{{ url_for('static', filename='images/article_images/'+row[2].article_image) }}" class="img-fluid" />
                                      <a href="{{ url_for('blog.full_article', article_id=row[2].id) }}">
                                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                      </a>
                                  </div>
                                  
                                  <!-- Article data -->
                                  <div class="row my-1 align-items-center">
                                    <div class="col-6 d-flex">
                                      {% for tag in row[2].tags %}
                                        <a href="{{ url_for('blog.articles_by_tag', tag_id=tag.id) }}" class="pe-2">{{ tag.name }}</a>
                                      {% endfor %}
                                    </div>
                                    <div class="col-6 text-end">
                                      <u>{{ row[2].date_created.strftime("%Y-%m-%d") }}</u>
                                    </div>
                                  </div>
                                  <div class="card-body">
                                      <h5 class="card-title">{{ row[2].article_title }}</h5>
                                      <p class="card-text">
                                          {{ row[2].article_description | safe }}
                                      </p>
                                      <a href="{{ url_for('blog.full_article', article_id=row[2].id) }}" class="btn btn-primary">Read</a>
                                  </div>
                                  </div>
                              </div>
                              {% endif %}
                      </div>
                  {% endfor %}
            </section>
        {% endif %}
          <!--Section: Content-->
    
          <!-- Pagination -->
          <nav class="my-4" aria-label="...">
            <ul class="pagination pagination-circle justify-content-center">
              
                <li class="page-item {% if not articles.has_prev %} disabled {% endif %}">
                  <a class="page-link" href="{{ url_for('.blog', page=articles.prev_num) }}">Previous</a>
                </li>
              
              {% for page_number in articles.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_number %}
                  {% if articles.page == page_number %}
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="{{ url_for('.blog', page=page_number) }}">{{ page_number }}<span class="visually-hidden">(current)</span></a>
                  </li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('.blog', page=page_number) }}">{{ page_number }}</a></li>
                  {% endif %}
                {% else %}
                    <span>...</span>
                {% endif %}
              {% endfor %}
              
                <li class="page-item {% if not articles.has_next %} disabled {% endif %}">
                  <a class="page-link" href="{{ url_for('.blog', page=articles.next_num) }}">Next</a>
                </li>
              
            </ul>
          </nav>
        </div>
</main>
{% endblock content %}