{% extends "base.html" %}

{% block title %}
    Search {{ searched }}
{% endblock title %}

{% block jumbotron %}
<div id="intro"
class="text-center bg-image shadow-3-strong"
style="background-image: url('/static/images/blog_jumbotron.jpg');">
 <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-white">
          <h1 class="mb-3 h2">Articles about <em>{{ searched }}</em></h1>
        </div>
      </div>
    </div>
  </div>
{% endblock jumbotron %}

{% block content %}
<main class="my-5">
    <div class="container">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-9 mb-4">
            <!--Section: Content-->
            <section>
              {% if articles %}
                  {% for article in articles %}
                      <!-- Post -->
                      <div class="row">
                          <div class="col-md-4 mb-4">
                              <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
                              <img src="{{ url_for('static', filename='images/article_images/' + article.article_image) }}" class="img-fluid" />
                              <a href="{{ url_for('blog.full_article', article_id=article.id) }}">
                                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                              </a>
                              </div>
                          </div>
  
                          <div class="col-md-8 mb-4">
                              <h5>{{ article.article_title }}</h5>
                              <p>
                                  {{ article.article_description }}
                              </p>
  
                              <a href="{{ url_for('blog.full_article', article_id=article.id) }}" type="button" class="btn btn-primary">Read</a>
                          </div>
                      </div>
                  {% endfor %}
              {% endif %}
              
            </section>
            <!--Section: Content-->
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-md-3 mb-4">
            <!--Section: Sidebar-->
            <section class="sticky-top" style="top: 80px;">
              
            </section>
            <!--Section: Sidebar-->
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
  
        
      </div>
</main>
{% endblock content %}