{% extends "base.html" %}

{% block title %}
    Portfolio Index
{% endblock title %}

{% block jumbotron %}
<div id="intro"
class="text-center bg-image shadow-3-strong"
style="background-image: url('/static/images/portfolio_jumbotron.jpg');">
 <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-white">
          <h1 class="mb-3 h2">{{ _('My Portfolio Projects') }}</h1>
          <p class="mb-3">{{ _('Here you can read about my projects') }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock jumbotron %}

{% block content %}
<main class="my-5">
    <div class="container">
        <!--Section: Content-->
        <section>
          <div class="row">
            <div class="col-md-6 gx-5 mb-4">
              <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <img src="https://mdbootstrap.com/img/new/slides/031.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
            </div>
  
            <div class="col-md-6 gx-5 mb-4">
              <h4><strong>{{ _('Description') }}</strong></h4>
              <p class="text-muted">
                {{ _('The projects you will found bellow are mainly based') }}<br>
                {{ _('on python. All of them have links on github.') }}
              </p>
            </div>
          </div>
        </section>
        <!--Section: Content-->
  
        <hr class="my-5" />
        
        {% if projects %}
        <!--Section: Content-->
        <section class="text-center">
          <h4 class="mb-5"><strong>{{ _('My Projects') }}</strong></h4>
          {% for row in projects | batch(3, '&nbsp;') %}

                <div class="row">
                    {% if row[0] != '&nbsp;' %}
                        <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card h-100">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="{{ url_for('static', filename='images/project_images/'+row[0].project_image) }}" class="img-fluid" />
                            <a href="{{ url_for('portfolio.full_project', project_id=row[0].id) }}">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                            </div>
                            <div class="card-body">
                            <h5 class="card-title">{{ row[0].project_title }}</h5>
                            <p class="card-text">
                                {{ row[0].project_description }}
                            </p>
                            <a href="{{ url_for('portfolio.full_project', project_id=row[0].id) }}" class="btn btn-primary">Button</a>
                            </div>
                        </div>
                        </div>
                    {% endif %}
                    
                    {% if row[1] != '&nbsp;' %}
                        <div class="col-lg-4 col-md-12 mb-4">
                            <div class="card h-100">
                                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                <img src="{{ url_for('static', filename='images/project_images/'+row[1].project_image) }}" class="img-fluid" />
                                <a href="{{ url_for('portfolio.full_project', project_id=row[1].id) }}">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                                </div>
                                <div class="card-body">
                                <h5 class="card-title">{{ row[1].project_title }}</h5>
                                <p class="card-text">
                                    {{ row[1].project_description }}
                                </p>
                                <a href="{{ url_for('portfolio.full_project', project_id=row[1].id) }}" class="btn btn-primary">Button</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if row[2] != '&nbsp;' %}
                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card h-100">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="{{ url_for('static', filename='images/project_images/'+row[0].project_image) }}" class="img-fluid" />
                            <a href="{{ url_for('portfolio.full_project', project_id=row[0].id) }}">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                            </div>
                            <div class="card-body">
                            <h5 class="card-title">{{ row[0].project_title }}</h5>
                            <p class="card-text">
                                {{ row[0].project_description }}
                            </p>
                            <a href="{{ url_for('portfolio.full_project', project_id=row[0].id) }}" class="btn btn-primary">Button</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
          
        </section>
        <!--Section: Content-->
        {% endif %}
      </div>
</main>
{% endblock content %}